<section class="hero is-medium is-primary is-bold">
  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Welcome to PhxQL
      </h1>
      <h2 class="subtitle">
        Ready template to start with it your next project.
      </h2>
    </div>
  </div>
</section>
<div id="elm-main"></div>