<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "PhxQL", suffix: " · Phoenix Framework" %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" integrity="sha384-i1LQnF23gykqWXg6jxC2ZbCbUMxyw5gLZY6UiUS98LYV5unm8GWmfkIS6jqJfb4E" crossorigin="anonymous">
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/css/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/js/app.js")}></script>
  </head>
  <body class="">
    <header>
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://phoenixframework.org/">
            <img src={Routes.static_path(@conn, "/images/phoenix.png")} height="30">
          </a>

          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <%= link "Home", to: Routes.page_path(@conn, :index), class: "navbar-item" %>
            <%= link "Users", to: Routes.user_path(@conn, :index), class: "navbar-item" %>

            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                More
              </a>
              <div class="navbar-dropdown">
                <%= link "Phoenix Docs", to: "https://hexdocs.pm/phoenix/Phoenix.html", class: "navbar-item", target: "_blank" %>
                <%= link "Elixir Docs", to: "https://elixir-lang.org/docs.html", class: "navbar-item", target: "_blank" %>
                <%= link "Elm Guide", to: "https://guide.elm-lang.org/", class: "navbar-item", target: "_blank" %>
                <hr class="navbar-divider">
                <a class="navbar-item">
                  Report an issue
                </a>
              </div>
            </div>
          </div>

          <div class="navbar-end">
            <div class="navbar-item">
              <%= if @user_signed_in? do %>
                <strong>
                <%= link @current_user.first_name, to: Routes.user_path(@conn, :show, @current_user.id), class: "navbar-item" %>
                </strong>
                <%= link  "Log out", to: Routes.session_path(@conn, :delete), method: :delete, class: "button is-light" %>
              <% else %>
                <div class="buttons">
                  <%= link  "Sign up", to: Routes.register_path(@conn, :new), class: "button is-primary" %>
                  <%= link  "Log in", to: Routes.session_path(@conn, :new), class: "button is-light" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <%= @inner_content %>
  </body>
</html>
